.topbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.topbar .avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}